/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("/images/BeyBladeMain.png");
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 100% 100%;
}

.button {
	
	-fx-font-size: 20px;
	-fx-font-family: Garamond;
	-fx-font-weight: bold;
	-fx-min-width: 150px;
}